# Flask Server Configuration
FLASK_APP=app.py
FLASK_ENV=development
FLASK_DEBUG=True
FLASK_HOST=127.0.0.1
FLASK_PORT=5000

# Security (Replace with your own 64-char hex secret key)
SECRET_KEY=your-secret-key-here

# Offline Breach Dataset Configuration
BREACH_CSV_FILE=10millionPasswords.csv
BREACH_TXT_FILE=common_passwords.txt

